.pop-up__close-button {
  position: relative;
  left: 240px;
  bottom: 380px;
  width: 32px;
  height: 32px;
  border: none;
  background: url("../../../images/Close\ Icon.svg") no-repeat;
  cursor: pointer;
  transition: 0.4s;
}

@media (min-width: 531px) {
  .pop-up__close-button:hover {
    background-image: url("../../../images/Close\ Icon\ —\ копия.svg");
  }
}

@media (max-width: 530px) {
  .pop-up__close-button {
    width: 20px;
    height: 20px;
    left: 130px;
    bottom: 420px;
    background-image: url("../../../images/Close\ Icon\ —\ копия\ 2.svg");
  }
}
